.container {
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  position: absolute;
  top: 50%;
  left: 300px;
  transform: translate(0,-50%);
}

.slider {
  position: relative;
  margin: auto;
}

.image {
  width: 100%;
}

.right-arrow {
  position: absolute;
  top: 50%;
  right: 32px;
  font-size: 3rem;
  color: #000;
  z-index: 10;
  cursor: pointer;
  user-select: none;
}

.left-arrow {
  position: absolute;
  top: 50%;
  left: 32px;
  font-size: 3rem;
  color: #000;
  z-index: 10;
  cursor: pointer;
  user-select: none;
}

h1 {
  width: 85%;
  font-style: normal;
  font-weight: bold;
  font-size: 50px;
  color: #FFFFFF;
}

p {
  padding-top: 1rem;
  padding-bottom: 2rem;
  font-size: 26px;
  color: #FFFFFF;
}

.button-slider {
  font-style: normal;
  font-weight: 900;
  max-width: 130px;
  text-align: center;
  padding: 10px 10px;
  background: #DC6A01;
  border-radius: 4px;
  color: #fff;
  font-size: 15px;
  box-shadow: 0 4px 8px rgba(30,60,90,0.2);
  border: none;
  cursor: pointer;
}

@media (max-width: 500px)
{

  .container{
    left: 60px;
  }

  h1 {
    font-size: 18px;
  }

  p {
    font-size: 10px;
  }

  .right-arrow {
    right: 10px;
  }

  .left-arrow {
    left: 10px;
  }


}
